.about{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: calc(100vh - 100px);

    @media screen and (max-width: 900px) {
        flex-direction: column;
        text-align: center;
        justify-content: space-evenly;
        gap: 60px;
        height: calc(100vh - 115px);
    }

    &__text{
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: 16px;
        margin-left: 50px;

        @media screen and (max-width: 900px) {
            align-items: center;
            margin-left: 0;
            width: 85%;
            gap: 20px
        }

        &--light{
            color: var(--color-black);
        }

        &--dark{
            color: var(--color-white);
        }

        &-name{
            color: var(--color-primary-600);
            margin-bottom: 5px;
            font-weight: 800;
            font-size: 48px;

            @media screen and (max-width: 768px) {
                font-size: 28px;
                font-weight: 600;
                margin-bottom: 0px;
            }
        }

        button{
            margin-top: 50px;
            align-self: flex-start;

            @media screen and (max-width: 768px) {
                margin-top: 20px;
                align-self: center;
            }
        }
    }

    &__img{
        display: flex;
        width: 500px;
        height: 500px;
        filter: drop-shadow(var(--color-secondary-600) 0px 4px 51.1px);

        @media screen and (max-width: 768px) {
            width: 80%;
            height: auto;
        }

        @media screen and (max-width: 1025px) {
            width: 50%;
            height: auto;
        }
    }
}

.divider{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    &__line{
        width: 50%;
        height: 5px;
        border-radius: 10px;

        &--light{
            background-color: var(--color-black);
        }

        &--dark{
            background-color: var(--color-white);
        }
    }

    &__logo{
        &:hover{
            filter: drop-shadow(var(--color-secondary-600) 0px 0px 5px)
        }
    }
}